body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefefe;
    color: #010101;
}

header {
    background-color: #002d61;
    color: #fefefe;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
}

nav {
    background-color: #010101;
    color: #fefefe;
    padding: 5px;
    display: flex;
    align-items: center;
    flex: 1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fefefe;
    padding: 3px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #c5a044;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

.news {
    margin-bottom: 20px;
}

.news img {
    max-width: 100%;
}

footer {
    background-color: #010101;
    color: #fefefe;
    text-align: center;
    padding: 10px;
}

img {
    height: 250px;
}

#logocape {
    width: 100px; /* Defina a largura desejada para a imagem */
    height: 100px; /* Defina a altura desejada para a imagem */
    cursor: pointer;
    border-radius: 5px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}